test-dir/
main
object_lib.so
test_crypto
test_host_manager
test_config
tor/
received_files/
build/

p2p_messenger
cigs

libNetwork.so
libProtocolHandler.so
libCryptoManager.so
libTorManager.so
libHostManager.so
libConfigManager.so
libCLI.so
torManager.o
libNetwork.o
libProtocolHandler.o
libCryptoManager.o
libHostManager.o
libConfigManager.o
libCLI.o
libCryptoSession.o
libCrypto.o
ProtocolHandler.o
libCigarettes.so
notes.txt


tor_A/
tor_B/

peer_a.log
peer_b.log